h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.LoginMessage {
  margin-top: 30px;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.alert-success {
  background-color: rgba(224, 84, 68, 0.663);
  color: rgb(116, 69, 69);
  margin-left: 300px;
  margin-top: 20px;
  margin-right: 300px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
